.dashboardContent .card {
    /* padding:3%; */
    box-shadow: -4px 0px 8px 0px rgba(209,209,214,0.75);
}
.col-lg-12{
    padding: 0;
}
.dashboardContent .col-lg-9{
    padding: 0;
}
.dashboardContent .card-header .col-lg-3{
    padding-right: 0;
}
.dashboardContent .btn{
    border-color: #0096c7;
}
.dashboardContent .dt-button-collection, .dashboardContent .dt-button-collection a,.dashboardContent thead th{
    background-color: #0096c7;
    color: #fff;
}
.dashboardContent .dt-buttons .btn{
    border-color: #cacaca;
}
.dashboardContent .row{
    margin: 0;
}
.dashboardContent h5{
    margin: 0;
}
.dashboardContent td .form-group{
    display: inline-block;
}
.dashboardContent {
    text-align: center;
}
.dashboardContent .nav-user-info{
    background-color: #0096c7;
    color: #fff;
}
.dashboardContent .nav-user-info ~ a.dropdown-item{
    color: #0096c7;
}
.dashboardContent table{
    color: #fff !important;
}

.dashboardContent .btn-success, .dashboardContent .btn-primary {
    background-color: #0096c7;
    color: #fff;
}
.dashboardContent thead tr{
    background-color: #0096c7;
}
.dashboardContent thead th{
    color: #fff !important;
}
.dashboardContent table{
    background-color: #0096c7;
}
.dashboardContent tbody tr:nth-child(even){
    background-color: #90e0ef;
    color: #2F4300;
}
.dashboardContent tbody tr:nth-child(odd){
    background-color: #00b4d8;
}
.dashboardContent tbody tr:nth-child(odd) .btn{
    background-color: #00b4d8;
    color: #fff;
    border-color: #fff;
}
.dashboardContent tbody tr:nth-child(odd) .btn:hover{
    background-color: #90e0ef;
    border-color: #2F4300;
    color: #2F4300;
}

.dashboardContent tbody tr:nth-child(even) .btn{
    background-color: rgba(0,0,0,0);
    color: #2F4300;
    border-color: #2F4300;
}
.dashboardContent tbody tr input{
    border-width: 0;
}
.dashboardContent tbody tr input:focus{
    outline: none;
}
.dashboardContent tbody tr:nth-child(n) input{
    background-color: rgba(0,0,0,0);
    color: #fff;
}
.dashboardContent tbody tr:nth-child(even) input{
    color: #2F4300;
}
.dashboardContent tbody tr:nth-child(even) .btn:hover{
    background-color: #00b4d8;
    border-color: #fff;
    color: #fff;
}
.dashboardContent .pagination .page-item.active .page-link{
    background-color: #0096c7;
    border-color: #0096c7;
}
.dashboardContent .pagination .page-item .page-link:hover{
    background-color: #00b4d8;
    border-color: #00b4d8;
}
.dashboardContent .dt-buttons,.dashboardContent #example3_filter{
    display: inline-block;
    margin: 1% 0 2%;
}
.dashboardContent .dt-buttons{
    text-align: left;
    width: 75%;
}
.dashboardContent #example3_filter{
    text-align: right;
    width: 25%;
}
.dashboardContent .temp ,.dashboardContent .formCon{
    height: 100vh;
}
.dashboardContent .temp .btn-primary{
    color: #fff;
} 