html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    width: 100vw;
}
.nav-item{
    margin: auto 5px;
}
.sidepanel  {
    width: 0;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 17px;
    background-color:  #f8f8f8;
    color  : #111;
    overflow-x: hidden;
    padding:5% 2%;
  }
  
  .sidepanel li {
    margin: 10px 0;
    display: block;
    transition: 0.3s;
  }
  
  .openbtn:hover {
    background-color:#444;
  }
  
html {
    overflow: hidden;
}
body {
    overflow-y: scroll;
    background-color: #3b8cb5;
}
h1{
    font-size: default !important;
}
.formContent{
    border-radius: 16px;
    background-color: #fff;
    padding:2% 0 ;
    margin:5% 15%;
}

.contentOptions {
    margin: 1% auto;
}

.contentItems>button,
.q {
    font-family: "Segoe UI" !important;
}

h1,
#headLogo {
    text-align: center;
    margin: 1%;
}

#headLogo {
    margin-left: 8%;
}

.addData {
    border-radius: 16px;
    padding:3% 4%;
    text-align: center;
    margin: 5% 10%;
    border: solid 1px #bbb;
    background-color: #fff;
}
.info{
    font-size:14px;
}
textarea {
    width: 100%;
}
.contentItems ,#null{
    margin: 2% 10%;
    padding: 5% 5% 1%;
    text-align: justify;
    border: solid 1px #bbb;
    border-radius: 16px;
    background-color: #fff;
}
#null{
    padding: 5%;
}

#customForm p {
    text-align: center;
}

#heading {
    margin-bottom: 5%;
    text-align: center;
}

#heading+button {
    margin-left: 5%;
}

#customForm input[type=text] {
    margin: 1% auto;
    width: 91%;
    /* border-style: none; */
}

.inputF {
    border-style: none;
    outline-style: none;
    border-radius: 16px;
    padding-left: 2%;
}

.inputF:focus {
    outline-style: none;
    border-style: solid;
}

input[type=text],input[type=number]{
    border-radius: 16px;
    border-width: 1px;
    text-align: center;
    outline-style: none;
}

#customForm button {
    margin-left: 2%;
}

.btn-danger {
    width: auto !important;
}
.btn-center{
    margin: 1%;
    text-align:center;
}
.row{
    margin-bottom:5%;
}
input[type=radio],input[type=checkbox]{
    margin:2%;
}
.textF {
    width: 100% !important;
}
#fsize{
    width: 70%;
}
#ffamily{
    width:65%;
}
nav li:hover{
    background-color: none;
}
.contentItems:hover{
    background-color: #f3f3f4;
}
.exop{
    margin:2% 0;
    color:#000 !important;
    /* padding-left: 73%; */
}
.btn-danger:hover{
    background-color:darkred;
}
.contentItems>textarea{
    margin-bottom:0 ;
}
.disable{
    pointer-events: none;
}
#customForm .disable  input,#customForm .disable  textarea{
    background-color: #f3f3f1;
}
.captcha{
    width: 30vw;
    margin: 2% auto;
    text-align: center;
    border-width:0 ;
}
.captcha:hover{
    background-color: #fff;
}
.captcha p{
    color: red;
    font-size: 85%;
    font-weight:600;
}
@media (min-width:1200px){
    .sidepanel{
        width: 22vw !important;
        height: 100vh;
        right: 17;
    }
    .disable ~ .btn-danger{
        margin-top: .5%;
        margin-bottom:.5%;
    }
}
@media (max-width:1200px){
    .sidepanel{
        width: 100vw !important;
        height: auto;
        right: 0;
        left: 0;
        top:3vh;
    }
    .disable ~ .btn-danger{
        margin-top: .5%;
        margin-bottom:.5%;
    }
    #customForm input[type=text]{
        width:88%;
      }
      .captcha{
        width: 40VW;
    }
}
@media (max-width:995px){
    .navbar{
        padding:0 2% ;
    }  
    .sidepanel{
        top:5vh;    
    }
    .navbar ul{
        display: inline;
    }
    .navbar .nav-link{
        display: inline;
        padding:0;
        margin-left: 5px;
    }
    .formContent{
        margin: 5%;
    }
    #customForm input[type=text]{
        width:87.5%;
      }
      .captcha{
        width: 50VW;
    }
}
@media (max-width:480px){
    .btn-center{
        margin-top:3%;
    }
    .sidepanel{
        top:7vh;
    }
    .formContent{
        margin: 5% 1%;
    }
    .addData .col-sm-10{
        display: inline-block;
        padding-right: 0;
        width:80%;
        padding-left: 5px;

    }
    .addData .col-sm-2{
        width:20%;
        display: inline-block;
    }
    .addData .quesADD.col-sm-2{
        margin:1% 0;
        display: block;
    }
    #head{
        margin-top:.5rem;
        font-size: 2rem;
        color: #fff;
    }
    #customForm input[type=text]{
        width:86%;
      }
    #headLogo input{
        width:60vw;
    }
    #headLogo{
        text-align: center;
        color: #fff;
    }
    .addData .btn-primary i{
        font-size:1rem;
    }
    .addData .btn-primary{
        padding:.375rem .75rem ;
        height: auto;
        line-height: 21px;
    }
    #customForm .btn{
        font-size:1rem;
        padding:.375rem .75rem ;
        height: auto;
        line-height: 21px;
    }
    #customForm .exop{
        margin-top: 5%;
        text-align: center !important;
    }
    .exop .btn{
        margin-left: 5% !important;
    }
    .contentItems .itemDesc{
        margin-bottom: 10px;
    }
    .addData{
        margin:5% 1% 1%;
        padding:10% 2% 5%;
        border-width: 0;
    }
    .addData .row{
        margin-bottom: 0;
    }
    #null,.contentItems{
        padding:5% 5%;
        margin:4% 1% 5%;
        border-width: 0;
    }
    .formContent{
        background: rgba(0, 0, 0, 0);
    }
    .info{
        font-size: 80%;
    }
    #customForm input[type=text]{
        width:87%;
    }
    #customForm button{
        margin-left: 2.5%;
    }
    .captcha{
        width: auto;
    }
}

@media (max-width:430px){
    .addData .col-sm-10{
        width: 86%;
    }
    .disable ~ .btn-danger{
        margin:4px 0;;
    }
    #null,.contentItems{
        padding:5% 4%;
    }
    #customForm .exop{
        text-align: right !important;
    }
    .addData .col-sm-2{
        width:14%;
    }
    #headLogo{
        margin-left: 20%;
    }
}
@media (max-width:380px){
    .addData .col-sm-10{
        width: 85%;
    }
    #customForm .exop{
        text-align: right !important;
    }
    #null,.contentItems{
        padding:5% 3%;
    }
    .addData .col-sm-2{
        width:15%;
    }
    #headLogo{
        margin-left: 13%;
    }
    #customForm input[type=text]{
        width:86%;
    }
    #customForm button{
        margin-left: 2.5%;
    }
}
@media (max-width:330px){
    .addData .col-sm-10{
        width: 80%;
    }
    #customForm input[type=text]{
        width:84%;
    }
    #customForm .exop{
        text-align: center !important;
    }
    #null,.contentItems{
        padding:6% 5%;
    }
    .addData .col-sm-2{
        width:20%;
    }
    #headLogo{
        margin-left:8%;
    }
    .navbar-brand{
        margin-right: 0;
    }
    #customForm button{
        margin-left: 2%;
    }
}